@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img http-push src="~/images/push.jpg"/>
<p>Use this area to provide additional information abouty Http2.</p>
