@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Http 2<br />
    Check Me.<br />
    <abbr title="Phone">P:</abbr>
    220.247.217.110
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Http2Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Http2Marketing@example.com</a>
</address>
